* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(4, 105, 105);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

input {
    outline: none;
}

.centralizer {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    padding-left: 1rem;
    padding-top: 1rem;
}

.main-container {
    width: 40%;
    min-width: 430px;
    background-color: #e9e4e4;
    border-radius: 5px;
    flex-direction: column;
    align-items: flex-start;
    gap: .8rem;
    background-color: rgb(13, 13, 59);
    color: #d3c8c8;
}

form {
    margin: auto;
    margin-top: 1.6rem;
    display: flex;
    gap: .4rem;
    justify-content: center;
    padding-bottom: 1rem;
}

button {
    padding: 0 .1rem;
    color: rgb(13, 13, 59);
    background-color: rgb(185, 185, 230);
}

.content-perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to right, rgb(13, 13, 59), rgb(21, 10, 53));
    padding: 1rem;
    margin-top: .8rem;
    width: 100%;
}

.user-container {
    padding: .6rem;
    background-color: rgb(52, 50, 77);
    border-radius: 3px;
    display: flex;
}

.img-and-name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .2rem;
    text-decoration: none;
}

.img-and-name img {
    width: 50%;
    border-radius: 50%;
}

.img-and-name .username a,
.img-and-name .email,
.bio {
    font-family: 'Courier New', Courier, monospace, sans-serif;
    color: #cac3c3;
}

.img-and-name .username {
    font-size: 1rem;
}

.img-and-name .location {
    font-size: .8rem;
}

.bio {
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
    font-size: .8rem;
}

.repositories-container {
    padding: .5rem .2rem;
    margin-top: .2rem;
    display: flex;
    flex-direction: column;
    background-color: #8f8989;
    gap: 1rem;
    color: rgb(13, 13, 59);
}

.repositories-container h2 {
    padding-left: 2rem;
    padding-top: 1rem;
}

.repositories {
    display: flex;
    gap: .5rem;
    width: 100%;
    flex-wrap: wrap;
    font-size: .92rem;
}

.repositories .rep-name {
    padding-bottom: 1rem;
}

.repositorie {
    display: flex;
    flex-direction: column;
    width: 45%;
    background-color: rgb(52, 50, 77);
    padding: .2rem;
    border-radius: 2px;
    color: #cac3c3;
}

.repositorie a {
    /* text-decoration: none; */
    color: #cac3c3;

}

.repositorie:nth-child(odd) {
    margin-left: 1.8rem;
}

.rep-desc {
    font-size: .74rem;
    font-style: italic;
}

.title-error {
    font-style: italic;
    font-size: 1.2rem;
}

/* Resposividade */
@media screen and (max-width: 500px) {
    h1 {
        font-size: 1rem;
        text-align: center;
    }

    .main-container {
        min-width: 100%;
        border-radius: 0;
    }

    form {
        flex-direction: column;
        width: 50%;
    }

    .user-container {
        flex-direction: column;
        width: 100%;
    }

    .bio {
        padding-left: 0;
        padding-top: 1rem;
        font-size: .8rem;
    }

    .img-and-name .email {
        font-size: .6rem;
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow-x: hidden;
    }

    .repositorie {
        width: 100%;
    }

    .repositorie:nth-child(odd) {
        margin-left: 0;
    }

    .repositories-container h2 {
        font-size: .9rem;
        padding-left: 0;
    }
}